.square{
    width:200px;
    height:200px;
    border-style: solid;
    border-color: black;
    background-color: #d0e41d;
    /* right now the squares are stacked one over the other in a vertical line not horizontal line */
}
.grid{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center; 
    align-content: center;
    width:618px;
    height:618px;
    /* this aranges it in a row wise format */
}
.mole{
    /* adding image to a div */
    background-image: url('mole.png');
    background-size:cover;
}